.display-4, .lead{
    color: #dfdfdf !important;
}

.customContainerJumbotron{
    background-color: #5F5980 !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.jumbotron{
    display: flex !important;
}
